body {
  background-image: url(../src/Components/Logo/joystick.png);
  background-position: center;
  background-size: cover;
  width: auto;
  height: 100%;
  color: rgb(255, 255, 255);
  margin: 20px;
  font-size: 32px;
  font-family: monospace;
}
